.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### VLC Native Libraries ###
# Exclude VLC binaries (large files, should be downloaded separately)
libs/vlc/windows-x64/*.dll
libs/vlc/windows-x64/plugins/
libs/vlc/windows-x86/*.dll
libs/vlc/windows-x86/plugins/
libs/vlc/macos-x64/
libs/vlc/linux-x64/
# Keep the README
!libs/vlc/README.md